<center><h1><%=@group.name%></h1><br>
<h2><%=@group.description%></h2><br><br><br>
<table>

<tr><th>Event</th><th>Description</th><th>date</th><th>Orgnizer</th></tr>
<%@events.each do |i|%>

<tr>
<td><%=i.title%></font></td>
<td><%=i.description%></td>
<td><%=i.date%></td>
<td><%=i.organizer%></td>
</tr>

<%end%><table align="bottom"><tr><td>
</td></tr></table>
<table>
<tr><th>User</th></tr>
<%@users.each do |i|%>
<tr>
<td><%=i.login%></font></td>
</tr>
<%end%><table align="bottom"><tr><td>
</td></tr></table>
<%-form_for:data,:url=>{:action=>"save"} do |f|%>
	<%=hidden_field_tag'id',@group.id%>
	<%=f.label :"Title"%></font>
	<%=f.text_field :title%><br>
	<%=f.label :"Description"%><br>
	<%=f.text_area :description%><br>
	<%=f.label :"date"%></font>
	<%=f.text_field :date%><br>
	<%=f.label :"Organizer"%></font>
	<%=f.text_field :organizer%><br>
	<%=f.submit :"Add"%>
<%end%>
<%= link_to "click here=>show group",:a=> 0, :controller=>"events", :action=>"show_group"%>
<%= link_to "Log Out",  logout_path%>

